<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
 <typeAliases>
     <!-- 별칭 설정  -->
     <typeAlias type="kr.ezen.shop.domain.AdminDTO" alias="adminDTO"/>
     <typeAlias type="kr.ezen.shop.domain.MemberDTO" alias="memberDTO"/>
     <typeAlias type="kr.ezen.shop.domain.CategoryDTO" alias="categoryDTO"/>
     <typeAlias type="kr.ezen.shop.domain.ProductDTO" alias="productDTO"/>
     <typeAlias type="kr.ezen.shop.domain.CartDTO" alias="cartDTO"/>
     <typeAlias type="kr.ezen.shop.domain.NoticeDTO" alias="noticeDTO"/>
     <typeAlias type="kr.ezen.shop.domain.QuestionDTO" alias="questionDTO"/>
     <typeAlias type="kr.ezen.shop.domain.QuestionReplyDTO" alias="questionReplyDTO"/>
  </typeAliases>

</configuration>